@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  
}


@theme {

  --color-accent-50: #eefbf3;
  --color-accent-100: #d6f5df;
  --color-accent-200: #b0eac4;
  --color-accent-300: #7cd9a3;
  --color-accent-400: #47c07e;
  --color-accent-500: #24a562;
  --color-accent-600: #16854e;
  --color-accent-700: #137145;
  --color-accent-800: #115435;
  --color-accent-900: #0f452d;
  --color-accent-950: #072719;
  
  

--color-primary-50: #f6f6f6;
--color-primary-100: #e7e7e7;
--color-primary-200: #d1d1d1;
--color-primary-300: #b0b0b0;
--color-primary-400: #888888;
--color-primary-500: #6d6d6d;
--color-primary-600: #5d5d5d;
--color-primary-700: #4f4f4f;
--color-primary-800: #454545;
--color-primary-900: #3d3d3d;
--color-primary-950: #0f0f0f;

/* font colors */

--color-cyan: #00FFFF;

--font-info-text: "VT323", monospace;

}

/* Add a unique custom gradient */
.custom-gradient {
  background-image: linear-gradient(
    120deg,
    var(--color-primary-950) 0%,
    var(--color-primary-950) 30%,
    var(--color-primary-800) 40%,
    var(--color-primary-900) 50%,
    var(--color-primary-800) 60%,
    var(--color-primary-950) 70%,
    var(--color-primary-950) 100%
  );
}

/* Add a shiny gradient for a light, reflective effect */
.shiny-gradient {
  background-image: linear-gradient(135deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.10) 50%, rgba(255,255,255,0.25) 100%);
}

